html {
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(to bottom right,#ffc6c7,#bcc6ed);
}

  
@font-face {
  font-family: 'Acorn';
  src: url(assets/font/Acorn-Bold.otf);
}
@font-face {
  font-family: 'Acorn';
  src: url(assets/font/Acorn-SemiBold.otf);
}

.AcornSemiBold {
  font-family: 'Acorn';
  font-weight: 600;
}

.AcornBold {
  font-family: 'Acorn';
  font-weight: 700;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: rgb(156, 163, 175);
  }
  100% {
    color: white;
  }
}